@import url(https://fonts.googleapis.com/css2?family=Asap:ital,wght@0,400;

0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap);@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);@import url(https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600&display=swap);@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);@import url(https://fonts.googleapis.com/css?family=Lato:400,700);.navbar {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 600;
}

.navbar-nav .nav-link {
  padding-top: 0.715rem;
  padding-bottom: 0.715rem;
}
/*@media (max-width: 430px){*/
/*    .videos{*/
/*        grid-template-columns: 1fr;*/
/*    }*/
/*}*/
.navbar-brand {
  margin-right: 2rem;
}

.bg-primary {
  background-color: theme-color("primary") !important;
}

.bg-light {
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.bg-light.navbar-fixed-top {
  border-width: 0 0 1px 0;
}

.bg-light.navbar-bottom-top {
  border-width: 1px 0 0 0;
}

.nav-item {
  margin-right: 2rem;
}

.btn {
  font-size: 14px;
  text-transform: uppercase;
}

.btn-sm {
  font-size: 10px;
}

.btn-warning,
.btn-warning:hover,
.btn-warning:not([disabled]):not(.disabled):active,
.btn-warning:focus {
  color: #fff;
}

.btn-outline-secondary {
  border-color: #919aa1;
  color: #919aa1;
}

.btn-outline-secondary:not([disabled]):not(.disabled):hover,
.btn-outline-secondary:not([disabled]):not(.disabled):focus,
.btn-outline-secondary:not([disabled]):not(.disabled):active {
  background-color: #ced4da;
  border-color: #ced4da;
  color: #fff;
}

.btn-outline-secondary:not([disabled]):not(.disabled):focus {
  box-shadow: 0 0 0 0.2rem rgba(206, 212, 218, 0.5);
}

[class*=btn-outline-] {
  border-width: 2px;
}

.border-secondary {
  border: 1px solid #ced4da !important;
}

body {
  font-weight: 200;
  letter-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  letter-spacing: 0;
}

.text-secondary {
  color: #55595c !important;
}

th {
  font-size: 14px;
  text-transform: uppercase;
}

.table th,
.table td {
  padding: 1.5rem;
}

.table-sm th,
.table-sm td {
  padding: 0.75rem;
}

.custom-switch .custom-control-label::after {
  top: calc(0.15625rem + 2px);
  left: calc(-2.25rem + 2px);
  width: calc(1rem - 4px);
  height: calc(1rem - 4px);
}

.dropdown-menu {
  font-size: 14px;
  text-transform: none;
}

.badge {
  padding-top: 0.28rem;
}

.badge-pill {
  border-radius: 10rem;
}

.list-group-item h1,
.list-group-item h2,
.list-group-item h3,
.list-group-item h4,
.list-group-item h5,
.list-group-item h6,
.list-group-item .h1,
.list-group-item .h2,
.list-group-item .h3,
.list-group-item .h4,
.list-group-item .h5,
.list-group-item .h6 {
  color: inherit;
}

.card-title,
.card-header {
  color: inherit;
}

.vid-info {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #000;
}

.custom-menus-l {
  height: 50vh;
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.custom-menus-l div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.custom-menus-l .cat-head {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-menus-l .cat-sub {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #121212;
  margin: 5px 0 0 0;
}

body {
  font-family: "Open Sans", sans-serif;
}

html {
  font-family: "Open Sans", sans-serif;
}

#search {
  width: 500px;
}

@media (max-width: 768px) {
  #search {
    width: 200px;
  }
}

@media (max-width: 1024px) {
  #search {
    width: 200px;
  }
}

#auth-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  #auth-nav {
    flex-direction: column;
  }
}

@media (max-width: 430px) {
  .small-banner {
    display: none;
  }
}

.small-banner .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}

@media (max-width: 768px) {
  .small-banner .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

.small-banner .cards #card {
  width: 100%;
  height: 130px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.small-banner .cards #card img {
  margin-right: 20px;
}

.small-banner .cards #card .title {
  text-transform: uppercase;
  font-size: 20px;
  font-weight: bold;
}

.small-banner .cards #card .des {
  font-size: 14px;
  font-weight: 500;
}

.large-banner-1 {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px 20px;
}

@media (max-width: 430px) {
  .large-banner-1 {
    grid-template-columns: 1fr;
  }
}

.large-banner-1 .one {
  position: relative;
}

.large-banner-1 .one .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.large-banner-1 .one .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1000;
}

.large-banner-1 .one .overlay {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.5);
}

.large-banner-2 {
  width: 100%;
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px 20px;
}

@media (max-width: 430px) {
  .large-banner-2 {
    grid-template-columns: 1fr;
  }
}

.large-banner-2 .one {
  position: relative;
}

.large-banner-2 .one .img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.large-banner-2 .one .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 30px;
  left: 30px;
  z-index: 1000;
}

.large-banner-2 .one .overlay {
  z-index: 5;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(1, 1, 1, 0.5);
}

.container {
  width: 85%;
  margin: 0 auto;
}

@media (max-width: 430px) {
  .container {
    width: 90%;
  }
}

#custom {
  width: 180px;
  font-size: 18px;
}

#custom svg {
  margin-left: 15px;
}

#line {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#line div {
  width: 80px;
  height: 4px;
  border-radius: 10px;
  background-color: #000;
}

.products {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px 40px;
}

@media (max-width: 768px) {
  .products {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 430px) {
  .products {
    grid-template-columns: 1fr;
  }
}

.products .product-card {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px;
}

.products .product-card img {
  width: 100%;
}

.products .product-card .content .star div {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.products .product-card .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.products .product-card:hover .overlay {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out;
  background-color: rgba(236, 236, 20, 0.3);
}

.auth {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.auth form {
  width: 310px;
}

.auth form input {
  border: 2px solid #404040;
}

.auth form #auth-extra {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth form #auth-extra button {
  flex: 1;
}

#card-1 {
  border: 2px solid #404040;
}

#auth-link {
  color: #297cc9;
  text-decoration: none;
}

#prod-count {
  font-size: 48px;
}

#offer {
  width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#offer div {
  margin: 30px 0;
}

.custom-menus {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 100%;
  height: 80vh;
  margin: 50px 20px;
}

@media (max-width: 768px) {
  .custom-menus {
    grid-template-columns: 1fr 1fr;
  }
}

.custom-menus div {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.custom-menus .cat-head {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-menus .cat-sub {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #121212;
  margin: 5px 0 0 0;
}

.custom-menus-sup {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 80%;
  height: 30vh;
  margin: 50px 20px;
}

@media (max-width: 768px) {
  .custom-menus-sup {
    grid-template-columns: 1fr 1fr;
  }
}

.custom-menus-sup div {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
}

.custom-menus-sup .cat-head {
  text-decoration: none;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.custom-menus-sup .cat-sub {
  text-decoration: none;
  font-size: 15px;
  font-weight: 500;
  color: #121212;
  margin: 5px 0 0 0;
}

.abc {
  display: flex;
}

.shop-by-cat {
  width: 100%;
  height: 70vh;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .shop-by-cat {
    grid-template-columns: 1fr, 1fr;
  }
}

@media (max-width: 430px) {
  .shop-by-cat {
    grid-template-columns: 1fr;
  }
}

#mega-fix-mobile {
  width: 100vw;
}

.dash-info-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

@media (max-width: 768px) {
  .dash-info-cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .dash-info-cards {
    grid-template-columns: 1fr;
  }
}

.dash-info-cards .card {
  width: 300px;
}

.orders {
  width: 100%;
}

.orders .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media (max-width: 768px) {
  .orders .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .orders .cards {
    grid-template-columns: 1fr;
  }
}

.orders .cards .order-items {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.gift-cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px 20px;
}

@media (max-width: 768px) {
  .gift-cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 430px) {
  .gift-cards {
    grid-template-columns: 1fr;
  }
}

.reward-products .cards {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px 20px;
}

@media (max-width: 768px) {
  .reward-products .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .reward-products .cards {
    grid-template-columns: 1fr;
  }
}

.reward-products .product-card {
  border: 2px solid rgba(116, 163, 47, 0.2);
  position: relative;
  width: 100%;
}

.reward-products .product-card:hover .btns {
  display: flex;
}

.reward-products .product-card .img {
  width: 100%;
}

.reward-products .product-card .img img {
  width: 100%;
}

.reward-products .product-card .body {
  text-align: center;
}

.reward-products .product-card .body h2 {
  font-size: 16px;
  font-weight: 600;
  color: #121212;
}

.reward-products .product-card .body .price {
  font-size: 16px;
  color: #cf2a2a;
  font-weight: bolder;
}

.reward-products .product-card .btns {
  position: absolute;
  top: 5px;
  right: 5px;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 10px rgba(1, 1, 1, 0.5);
}

.cart-page-total {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}

@media (max-width: 768px) {
  .cart-page-total {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .cart-page-total {
    grid-template-columns: 1fr;
  }
}

.cart-page-total .card {
  height: 150px;
  box-shadow: 2px 2px 10px rgba(1, 1, 1, 0.5);
}

.reward-forms {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.display-none {
  display: none;
}

.display-block {
  display: block;
}

#only-mobile {
  display: none;
}

@media (max-width: 768px) {
  #only-mobile {
    display: flex;
  }
}

#fix-nav-mega {
  display: flex;
}

@media (max-width: 768px) {
  #fix-nav-mega {
    display: none;
  }
}

.shop-by-cats {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .shop-by-cats {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .shop-by-cats {
    grid-template-columns: 1fr;
  }
}

footer {
  width: 100%;
  background: #333333;
}

.foot {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

@media (max-width: 768px) {
  .foot {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .foot {
    grid-template-columns: 1fr;
  }
}

.foot div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.foot div .section-head {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.foot div a {
  margin: 0 0 8px 0;
  font-size: 15px;
  color: white;
}

.foot div .social {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.foot div .social a {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #4d4d4d;
}

.foot div .social a svg {
  width: 20px;
}

.foot-2 a {
  color: #fff;
  font-size: 16px;
  margin-right: 10px;
  text-transform: capitalize;
}

.sidebar {
  width: 20%;
  display: block;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}

.products-shop {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.product-single-page {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 20px;
}

@media (max-width: 768px) {
  .product-single-page {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 430px) {
  .product-single-page {
    grid-template-columns: repeat(1, 1fr);
  }
}

.product-single-page .media-content {
  width: 100%;
}

.product-single-page .media-content img {
  width: 100%;
}

.product-single-page .prod-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

#shop-create {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.nav-link {
  font-size: 14px;
  font-weight: 500;
}

.nav-item {
  font-size: 12px;
}

#project {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  align-items: flex-start;
}

@media (max-width: 768px) {
  #project {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 430px) {
  #project {
    grid-template-columns: 1fr;
  }
}

#post {
  width: 100%;
}

#post > img {
  width: 100%;
}

.post-header {
  width: 100%;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-size: contain;
}

fieldset,
label {
  margin: 0;
  padding: 0;
}

body {
  margin: 20px;
}

h1 {
  font-size: 1.5em;
  margin: 10px;
}

/****** Style Star Rating Widget *****/

.rating {
  float: left;
  width: 300px;
}

.rating span {
  float: right;
  position: relative;
}

.rating span input {
  position: absolute;
  top: 0px;
  left: 0px;
  opacity: 0;
}

.rating span label {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center;
  color: #fff;
  background: url(/images/star.svg?ac8ea2135e1379656f02ca2eea26cc87);
  background-position: center;
  background-size: cover;
  font-size: 30px;
  margin-right: 2px;
  line-height: 30px;
  -webkit-border-radius: 50%;
}

.rating span:hover ~ span label,
.rating span:hover label,
.rating span.checked label,
.rating span.checked ~ span label {
  background: url(/images/star-filled.svg?cac514142327acbdd71321c4e0da5c20);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}

.site-review {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px 30px;
}

.container-cus {
  width: 90%;
  margin: 0 auto;
}

#prod-slider {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.videos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px 20px;
}

.videos iframe {
  width: 100%;
  height: 480px;
}
@media (max-width: 430px){
    .videos{
        grid-template-columns: 1fr;
    }
}
.po {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px 20px;
}

.po .po-card {
  position: relative;
  width: 100%;
  background-color: #f7f7f7;
  padding: 15px;
}

.po .po-card img {
  width: 100%;
}

.po .po-card .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.po .po-card:hover .overlay {
  z-index: 10;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  transition: 300ms ease-in-out;
  background-color: rgba(236, 236, 20, 0.3);
}

.faq-search {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviews-site .total-review {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.reviews-site .total-review div {
  width: 100%;
}

.reviews-site .xyz {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px 20px;
}

@media (max-width: 768px) {
  .reviews-site .xyz {
    grid-template-columns: 1fr;
  }
}

.ebook-req {
  width: 300px;
  margin: 0 auto;
}

.ebook-req .ebook-req-form {
  width: 100%;
}

body {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  width: 100%;
  color: #444;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  font-smooth: always;
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-family: "Open Sans", sans-serif;
}

h4,
h5,
h6,
p,
a,
li,
ul {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0;
}

.navbar {
  padding: 0rem;
  margin-bottom: 2rem;
}

.dropdown .dropdown-menu {
  border-radius: 0;
}

/* Medium devices (tablets, 768px and up)
The navbar toggle appears at this breakpoint */

@media (min-width: 768px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
    border-radius: 0;
  }
}

@media all and (min-width: 992px) {
  .navbar {
    padding-top: 0;
    padding-bottom: 0;
  }

  .navbar .has-megamenu {
    position: static !important;
  }

  .navbar .megamenu {
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
  }

  .navbar .nav-link {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

#project {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

@media (max-width: 768px) {
  #project {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 430px) {
  #project {
    grid-template-columns: 1fr;
  }
}

#post > img {
  width: 100%;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

.container-chat {
  margin: 0 auto;
  width: 750px;
  background: #F2F5F8;
  border-radius: 5px;
}

.people-list {
  width: 260px;
  float: left;
}

.people-list .search {
  padding: 20px;
}

.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}

.people-list .fa-search {
  position: relative;
  left: -25px;
}

.people-list ul {
  padding: 20px;
  height: 600px;
}

.people-list ul li {
  padding-bottom: 20px;
  list-style: none;
  cursor: pointer;
}

.people-list img {
  float: left;
}

.people-list .about {
  float: left;
  margin-top: 8px;
}

.people-list .about {
  padding-left: 8px;
}

.people-list .status {
  color: #92959E;
}

.chat {
  width: 490px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}

.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}

.chat .chat-header img {
  float: left;
}

.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}

.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 16px;
}

.chat .chat-header .chat-num-messages {
  color: #92959E;
}

.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}

.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 575px;
}

.chat .chat-history ul li {
  list-style: none;
}

.chat .chat-history .message-data {
  margin-bottom: 15px;
}

.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}

.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 90%;
  position: relative;
}

.chat .chat-history .message:after {
  bottom: 100%;
  left: 7%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}

.chat .chat-history .my-message {
  background: #86BB71;
}

.chat .chat-history .other-message {
  background: #94C2ED;
}

.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 93%;
}

.chat .chat-message {
  padding: 30px;
}

.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}

.chat .chat-message .fa-file-o,
.chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}

.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}

.chat .chat-message button:hover {
  color: #75b1e8;
}

.online,
.offline,
.me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

#chat-head {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 80000;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #94C2ED;
}

#chat-head a span {
  background-color: #E38968;
  color: white;
  padding: 5px;
}

